@model Community.Domain.Entities.ComplectUser

@{
    ViewBag.Title = "";
}

<!--======= header =======-->

<header>
    <div class="container-full">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12">
                <a id="main-category-toggler" class="hidden-md hidden-lg hidden-md" href="#">
                    <i class="fa fa-navicon"></i>
                </a>
                <a id="main-category-toggler-close" class="hidden-md hidden-lg hidden-md" href="#">
                    <i class="fa fa-close"></i>
                </a>
                @*<div id="logo">
                    <a href="01-home.html"></a>
                </div>*@
            </div><!-- // col-md-2 -->
            <div class="col-lg-3 col-md-3 col-sm-6 hidden-xs hidden-sm">
                <div>
                    @using (Html.BeginForm("PipelSearch", "Home", FormMethod.Post, new { @class = "search-form" }))
                    {
                        @*<input type="text" name="name" placeholder="Search pipel..." />
                        <input type="submit" value="Поиск" />*@
                    }
                    <div id="results">

                    </div>
                </div>

            </div><!-- // col-md-3 -->

          
            <div class="col-lg-2 col-md-2 col-sm-4 hidden-xs hidden-sm">
                <ul class="notifications">
                    @*друзья*@
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown">
                            <i class="fa fa-users"></i>

                            <span class="badge badge-color1 header-badge">@ViewBag.countFrend</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-friend-requests "></ul>
                    </li>
                    @*информ*@
                    <li class="dropdown">
                        <a href="#" data-toggle="dropdown">
                            <i class="fa fa-info-circle"></i>
                            <span class="badge badge-color2 header-badge">@ViewBag.counDescription</span>
                        </a>
                        
</div>
            <!-- Users  -->
            <div class="col-lg-2 col-md-2 col-sm-3 hidden-sm hidden-xs">
                <div class="dropdown">
                    <a data-toggle="dropdown" href="#" class="user-area">

                        <div class="thumb"><img src="~/Files/user/@Model.UserInfo._IdUser/Avatar/@Model.UserInfo._Avatar" alt=""></div>
                        <h2>@Model.UserInfo._Name</h2>
                        <h2>@Model.UserInfo._FirstName</h2>
                        @if (Model.UserInfo._SurnameSeting)
                        {
                            <h2>@Model.UserInfo._Surname</h2>
                        }

                        @if (Model.UserInfo._AgeSeting)
                        {
                            <h3>@Model.UserInfo._Age </h3>
                        }


                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu account-menu">
                       
                        <li><a href="~/Home/Index"><i class="fa fa-sign-out color-4"></i>Выход</a></li>
                    </ul>

                </div>
            </div><!-- // Users -->
        </div><!-- // row -->
    </div><!-- // container-full -->
</header><!-- // header -->
<div id="main-category">
    <div class="container-full">
        <div class="row">
            <div class="col-md-12">
                
            </div>
        </div>
    </div>
</div>

<div class="site-output">

    <div class="col-md-2 no-padding-left hidden-sm hidden-xs">
        <div class="left-sidebar">
            <div id="sidebar-stick">

                <ul class="menu-sidebar">
                  
                    <li><a href="~/Home/Index"><i class="fa fa-sign-out"></i>Выход</a></li>
                </ul>

                <ul class="menu-sidebar">

                    <li><a href="#"><i class="fa fa-question-circle"></i>Help</a></li>
                    <li><a href="#"><i class="fa fa-send-o"></i>Send feedback</a></li>
                </ul>
            </div><!-- // fa-friends sidebar-stick -->
            <div class="clear"></div>
        </div><!-- // left-sidebar -->
    </div><!-- // col-md-2 -->

    <div id="all-output" class="col-md-10">

        @{Html.RenderPartial("DescriptionView");}

        <!-- Loading More Videos -->
        <div id="loading-more">
            <i class="fa fa-refresh faa-spin animated"></i> <span>Loading more</span>
        </div>
        <!-- // Loading More Videos -->

    </div>
</div>

@*<script src="~/Scripts/jquery-1.8.0.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>*@